@import "./color";
@import "./utils/general";
@import "./components/header";
@import "./components/about";
@import "./components/clients";
@import "./components/form";
@import "./components/promo";
@import "./components/work";
@import "./components/us";
@import "./components/smlinks";
@import "./components/end";
@import "./components/join";
@import "./portfolio/portfolio";
@import "./components/menu";


html {
    scroll-behavior: smooth;
  }
  
  
  a {
    text-decoration: none;
    color: black;
  }
  
  i {
    margin-right: 5px;
  }
  