@import "./color","./utils/general", "./components/header", "./components/about", "./components/clients", "./components/form", "./components/promo", "./components/work", "./components/us", "./components/smlinks", "./components/end", "./components/join",
 "./portfolio/portfolio", "./components/menu";


html {
    scroll-behavior: smooth;
  }
  
  
  // h3 {
  //   margin-top: 30px;
  // }
  a {
    text-decoration: none;
    color: black;
  }
  
  i {
    margin-right: 5px;
  }
  