label {
    display: flex;
    flex-direction: column;
    gap: 28px;
    color: $text;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
  }
  
  .form_wrapper input {
    border: none;
    outline: none;
    width: 90%;
    text-indent: 10px;
  }
  
  textarea {
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;
    width: 448px;
    height: 120px;
    color: rgba(117, 117, 117, 0.5);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    padding: 12px 0 0 16px;
  }
  
  .modal_title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    display: flex;
    margin-bottom: 15px;
  }
  
  .form-m {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  
  .form_group {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
  }
  
  .modal_form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .accepting {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .checkbox {
    width: 16px;
    height: 15px;
    fill: #212121;
    margin-right: 8px;
    cursor: pointer;
  }
  
  .checkbox-title {
    color: $text;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  
    /* 171.429% */
    letter-spacing: 0.42px;
  
    a {
      color: $main_color;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.42px;
      text-decoration-line: underline;
    }
  }
  
  .send {
    display: flex;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: $main_color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
  
    /* 187.5% */
    letter-spacing: 0.96px;
    border: none;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
  }
  
  .form_wrapper {
    &:hover {
      border: 1px solid $main_color;
    }
  
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-indent: 10px;
  
    i {
      color: #212121;
    }
  
    &:hover i {
      color: $main_color;
    }
  }
  
  .close_modal:hover path {
    fill: $main_color;
  }
  