.header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #FFF;
  z-index: 1;
  margin: auto;

  @media (min-width:320px) {
    padding: 16px 0;
    height: 60px;
  }

  @media (min-width:768px) {
    padding: 26px 0;
    height: 80px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__left {
    display: flex;
    
    justify-content: space-between;
    align-items: center;

    @media(min-width: 768px) {
      gap: 87px;
    }
    @media(min-width: 1200px) {
      gap: 92px;
    }
    
  }
  &__hamburder {
    display: none;

    @media (max-width:480px){
      display: flex;
      flex-direction: column;
      gap: 4px;
      span{
        width: 24px;
        display: block;
        border: 2px solid #212121;
      }
    }

  }
  &__logo {
    color: black;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    margin: 0;
  
    /* identical to box height */
  
    letter-spacing: 0.03em;
    @media (min-width:480px) {
      font-size: 24px;
      line-height: normal;

    }

    @media (min-width:1200px) {
      font-size: 26px;
    }

    

  
    
  }
  
  &__contacts {
    display: flex;
    
    
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    letter-spacing: 0.02em;
    
    @media (max-width:480px) {
      display: none;
    }
    @media (min-width:768px) {
      font-size: 12px;
      flex-wrap: wrap;
      gap: 10px;
      width: 138px;
    }
    @media(min-width: 1200px) {
      width: 330px;
      gap: 30px;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    width: 280px;
    list-style-type: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    position: relative;

    margin: 0;

    @media (max-width:480px) {
      display: none;
    }
  }
}
  
 
  
  .header__links a:hover {
    color: $main_color;
  }
  
  .header__contacts a {
    color: $text;
    &:hover {
      color: $main_color;
    }
  
    color: $text;
  }
  

  
  .header__logo span {
    color: $main_color;
  }
  
  .tel {
    margin-right: 0;
  }
  .email {
      display: flex;
      flex-wrap: wrap;
      
    
  }
  
  .email:hover {
    color: $main_color;
    fill: $main_color;
  
    path {
      color: $main_color;
      fill:  $main_color;
    }
  }
  
  .tel {
    &:hover {
      color: $main_color;
      fill: $main_color;
  
      path {
        color: $main_color;
        fill: $main_color;
      }
    }
  

  }
  

  
  .links-a {
    &::before {
      content: "";
      width: 48px;
      height: 4px;
      border-radius: 2px;
      background: $main_color;
      position: absolute;
      bottom: -28px;
      opacity: 0;
    }
  
    &:hover:before {
      opacity: 1;
    }
  
    &:before:nth-child(2) {
      width: 70px;
    }
  }
  
  .links li {
    &:nth-child(2) .links-a::before {
      width: 76px;
    }
  
    &:nth-child(3) .links-a::before {
      width: 70px;
    }
  }
  .contacts a {
    @media (min-width:768px) {
    font-size: 12px;
    }
  }