.header_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-left {
    display: flex;
    width: 520px;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: black;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 31px;
  
    /* identical to box height */
  
    letter-spacing: 0.03em;
  
    span {
      color: $main_color;
    }
  }
  
  .contacts {
    display: flex;
    width: 330px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $text;
  }
  
  i {
    margin-right: 5px;
  }
  
  .links a:hover {
    color: $main_color;
  }
  
  .contacts a {
    &:hover {
      color: $main_color;
    }
  
    color: $text;
  }
  
  header {
    margin: auto;
  }
  
  .links {
    display: flex;
    justify-content: space-between;
    width: 280px;
    list-style-type: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    position: relative;
  }
  
  .tel {
    margin-right: 0;
  }
  
  .email:hover {
    color: $main_color;
    fill: $main_color;
  
    path {
      color: $main_color;
      fill:  $main_color;
    }
  }
  
  .tel {
    &:hover {
      color: $main_color;
      fill: $main_color;
  
      path {
        color: $main_color;
        fill: $main_color;
      }
    }
  

  }
  
  header {
    position: fixed;
    width: 100%;
    top: 0;
    background: #FFF;
    z-index: 1;
  }
  
  .links-a {
    &::before {
      content: "";
      width: 48px;
      height: 4px;
      border-radius: 2px;
      background: $main_color;
      position: absolute;
      bottom: -28px;
      opacity: 0;
    }
  
    &:hover:before {
      opacity: 1;
    }
  
    &:before:nth-child(2) {
      width: 70px;
    }
  }
  
  .links li {
    &:nth-child(2) .links-a::before {
      width: 76px;
    }
  
    &:nth-child(3) .links-a::before {
      width: 70px;
    }
  }
  